/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET CSS SON!*/
body{
	background-color: #ddf1f4!important;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 12px;
    left:-100px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
	border-radius: 25px;
  	background-color: #d93222;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #991612;
}
 .kirmizi_halka{
		box-shadow:1px 3px 19px #921611;
		margin:10px;
		border: 4px solid rgb(154, 24, 18);
		border-radius:100%;
		width:170px!important;
		height:170px;
		font-size: 17px;
		background: linear-gradient(#a9a6a6, #ffffff);
		
	}	
	.kirmizi_halka_menu{
		box-shadow:1px 3px 19px #921611;
		margin:10px;
		border: 4px solid rgb(154, 24, 18);
		border-radius:100%;
		width:130px!important;
		height:130px;
		font-size: 16px;
		background: linear-gradient(#a9a6a6, #ffffff);
		
	}	
 .sari_daire{
        width: 160px;
        height: 160px;
        background: orange;
        border-radius: 100%;
        position: absolute;
        text-align: center;
        margin-left: 25px;
        color:white;
        box-shadow: 1px 3px 19px #bf8a28;
        font-size:16px;
        padding-top: 25px;
        font-size: 25px;
        overflow-wrap: break-word;
    }
    .sari_daireler{
        width: 160px;
        height: 160px;
        background: orange;
        border-radius: 100%;
        text-align: center;
        margin-left: -2px;
        color:white;
        box-shadow: 1px 3px 19px #bf8a28;
        font-size:16px;
        padding-top: 25px;
        font-size: 25px;
        overflow-wrap: break-word;
    }
    .sari_daireler_alt_yazi{
        width:170px;
        margin-top: 5px;
        height:70px;
        color:#5a5959;

        font-size:16px;
        overflow-wrap: break-word;
    }
    .sari_dikdortgen{
        width: 220px;
        padding-left: 30px;
        height: 90px;
        background: #dc9209;
        margin-top: 32px;
        margin-left: 140px;
        text-align: center;
        color:white;
        box-shadow: 1px 3px 19px #bf8a28;
        font-size:16px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-top: 12px;
        font-size: 20px;
        overflow-wrap: break-word;
    }
    .sari_daire_alt_yazi{
        width:170px;
        margin-top: 40px;
        margin-left:35px;
        height:70px;
        color:#5a5959;
        font-size:16px;
        overflow-wrap: break-word;
    }

.bodybg{
	background: url(image/resim.png) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: bottom;
	bottom: 0px;
	height: 100%;
	min-height: 1049px;
	z-index:-100;
}

.solucanContainer {
	position:fixed;
	right:9%;
	bottom:0;
	margin:0;
	width:20%;
	min-width: 75px;
	padding-right:10px;
	z-index: 5;
}
.solucanContainer img {width:100%;}

.goz {
	width: 11%;
	min-width: 25px;
	margin-right: 2.5%;
	margin-bottom: 20.5%;
	z-index: 1;
}

.siteHeader
{
	margin-top:30px;
	margin-left: 25px;
	padding-left: 5px;
	width: 99vw;
	position:fixed;
	z-index: 5;
}

.siteHeaderSmall
{
	margin-top:60px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 17%;
	width: 99vw;
	position:fixed;
	z-index: 5;
}


.telNo{

	width: 75%;
	min-width: 60px;
	max-width: 360px;

}



.logo{
	width: 75%;
	min-width: 100px;
	max-width: 600px;

}
.modal-backdrop{
	z-index: 0!important;
}

.icerik{
	margin-top: 1%;
	margin-left: -15%;
	width: 70%;
	height: 55vh;
	border: solid;
	border-width: 2px;
	border-color: transparent;
	border-radius: 10px;
	background: rgba(250,250,250,0);
	overflow: auto;
	overflow-x: hidden;
	padding-top: 20px;
	padding-left:15px;
	color: #000;
	z-index: 30!important;

}




nav{
	width: 100%;
}
.menu ul li a{
	color: #000;
	font-size: 15px;

}


@media (max-width: 650px){

	.solucanContainer {
		right:0%;
	}
	.icerik{
		margin-top: 1%;
		left: 1%;
		width: 110%;
		height: 55vh;
		border: solid;
		border-width: 2px;
		border-color: transparent;
		border-radius: 10px;
		background: rgba(250,250,250,0);
		overflow: auto;
		overflow-x: hidden;
		color: #000;
		z-index: 30!important;
	}
	.sari_daire{
		margin-left: -60px;
	}
	.sari_daireler:nth-of-child(1){
		margin-left: -200px;
	}
	.sari_daire_alt_yazi{
		padding-top: 16%;
	}
	.sari_dikdortgen{
		margin-left: 25px;
	}
	.ilk{
		margin-left:30px;
	}
	.tarim{
		height: 27px!important;
		width: 140px!important;
	}
	.kirmizi_halka{
		left: 20%;
	}
	.kirmizi_halka_menu{
		left: 25%;
	}

}



@media (min-width: 992px){


	.icerik{
		margin-top: -2%!important;
		margin-left: 1%;
		width: 70%;
		height: 60vh;
		border: solid;
		border-width: 2px;
		border-color: transparent;
		border-radius: 10px;
		background: rgba(250,250,250,0);
		overflow: auto;
		overflow-x: hidden;
		color: #000;
		z-index: 30!important;
	}


}

@media (min-width: 1700px){
	.icerik{
		margin-top: 0%!important;
	}
}


@media (min-width: 900px){
	.collapse {
		display: none !important;
	}

}
.hr_menu{
  z-index: 0;
  margin-top:5px;
  width: 585px;
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #ddf1f4, #8a110d, #c7e9ed);
  background-image: -moz-linear-gradient(left, #ddf1f4, #8a110d, #c7e9ed);
  background-image: -ms-linear-gradient(left, #ddf1f4, #8a110d, #c7e9ed);
  background-image: -o-linear-gradient(left, #ddf1f4, #8a110d, #c7e9ed); 
}
.menu ul li a:hover{
	color: #8a110d;
	background-color: rgba(138, 17, 13, 0) ;
	
}

.menuSmall
{
	background-color: #ddf1f4;
	color: white;
}

.traktor {
	display: inline;
	position: fixed;
	bottom: 0;
	margin-bottom: 5.5%;
	margin-left: 5.5%;
	width: 390%;
}

.traktor img{
	width:10%;
}


.degirmen
{
	display: inline;
	position: fixed;
	bottom: 0;
	margin-bottom: 13%;
	margin-left: 22.4%;
	width: 100%;
	z-index: 0;

}

.degirmen img{
	width:9%;
}


.navbar-toggle{
	width: 55px;
}

.navbar-toggle .icon-bar{

	background-color: #c82c1f;
	border-radius: 3px;
}





@media (min-height: 1084px){


	.traktor{
		display: none;
	}

}


@media (min-height: 1060px){


	.traktor{
		display: none;
	}

	.siteHeader{
		margin-top: 60px;
	}

	.siteHeaderSmall{
		margin-top: 75px;
	}

}


@media (min-height: 1150px){


	.degirmen{
		display: none;
	}

}